.navbar {
  height: 50px;
  font-family: $link-font;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);

  .navbar-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  .navbar-links {
    display: flex;
    height: 100%;
    max-width: $max-page-width;
    margin: 0 auto;

    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5%;
      width: 100%;

      .navlink {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .dark-text {
        color: $white;
      }

      .light-text {
        color: $black;
      }

      .navlink-active {
        text-decoration: underline;
        text-decoration-style: double;
      }
    }
  }
}
.nav-dark {
  background: $trans-grey;
}
.nav-light {
  background: $trans-white;
}
