.home {
  display: flex;
  flex-direction: column;

  .tagline {
    margin: 0 0 50px 0;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.75rem;
    }
  }

  .section {
    margin: 15% 0 0 0;
    display: flex;

    .text-section {
      display: flex;
      flex-direction: column;
      flex: 2;
      padding: 0 10% 0 0;

      h2 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }

    .matte-picture {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}
