.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.dark {
  transition: ease-in;
  transition-property: all;
  transition-duration: 500ms;
}

.light {
  transition: ease-in;
  transition-property: all;
  transition-duration: 500ms;
}

.matte-dark-border {
  img {
    transition: ease-in;
    transition-property: all;
    transition-duration: 500ms;
  }
}
.matte-light-border {
  img {
    transition: ease-in;
    transition-property: all;
    transition-duration: 500ms;
  }
}
.input-dark {
  transition: ease-in;
  transition-property: all;
  transition-duration: 500ms;
}
.input-light {
  transition: ease-in;
  transition-property: all;
  transition-duration: 500ms;
}
.nav-dark {
  transition: ease-in;
  transition-property: all;
  transition-duration: 500ms;
}
.nav-light {
  transition: ease-in;
  transition-property: all;
  transition-duration: 500ms;
}
.navbar-container {
  .dark-text {
    transition: ease-in;
    transition-property: all;
    transition-duration: 500ms;
  }
  .light-text {
    transition: ease-in;
    transition-property: all;
    transition-duration: 500ms;
  }
}
